@media only screen and (max-width: 767px) {
    .jumbotron-logo{
     height: 0%;
    } 
    .produk .card{
     margin: 10px;
    }
   }

   @media only screen and (max-width: 500px) {
     .jumbotron-logo{
       height: 0%;
      } 
      h1{
       font-size: 30px;
      }
      
      .imgcontent{
       height: 0px;
      }

      .jumbotron h2{
       font-size: 25px;font-family: 'Lobster', cursive;
      }

      .tentang p{
       text-align:justify;
       letter-spacing: -1px;
      }


     }

   body{
     width: 100%;
   }
   
     .navbar{
         height: 10 0px;
         background-image: linear-gradient(to right,#654ea3,#eaafc8);
         width: 100%;
         color: white;
         text-decoration: none;
       }
     .jumbotron{
         height: 400px;
         margin-bottom: -20px;
         background-image: linear-gradient(to right,#654ea3,#eaafc8);
     }
     .jumbotron button{
       border-radius: 15px; 
       height:40px;
       font-size:15px;
       font-weight:bold
     }
     .jumbotron h2{
       font-family: 'Lobster', cursive;
     }
     h1{
       font-family: 'Abril Fatface', cursive;
     }

     body{
       background-color: #1F1D36;
     }
     .produk{

       margin-top: 120px;
       padding: 20px;
       width: 100%;
       height: 100%;
       margin-bottom: 20px;
       background-image: linear-gradient(to right,#654ea3,#eaafc8);
     

     }
     .modal-body .col{
      display: flex;
      justify-content: center;
     }
     .produk .card{
       background-color: #ffffff39;
       border:3px solid rgba(252, 252, 252, 0.578);
       border-radius: 20px;
       width: 80%;
       margin: 10px;
       opacity: 0.9;
       transition: 0.3s;
     }

     .produk .card:hover{
       opacity: 1;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     }


     .produk .card p{
       color: white;
       font-weight: bold;
       text-align: left;
       margin-left: 10px;
       text-align: center;
     }

     .produk .card span{
       text-align: left;
       color: white;
       margin : 0px 5px 5px 5px;
     }

     .produk .card img{
       border-radius:10px;
       margin:15px;
     }

    .procontent{
       color: black;
    }


    .contact{
        width: 100%;
        background-image: linear-gradient(to right,#654ea3,#eaafc8);
        margin-top: 120px;
        padding: 80px 0px;        
    }


    .contact h1{
        text-align: center;
        color: white;
    }

    label,
    textarea {
        font-size: .8rem;
        letter-spacing: 1px;
    }
    textarea {
        padding: 10px;
        max-width: 100%;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
    }
    
    label {
        display: block;
        margin-bottom: 10px;
    }
    .footer-dark {
       width: 100%;
       padding:50px 0;
       color:#f0f9ff;
       background-color:#282d32;
     }
     
     .footer-dark h3 {
       margin-top:0;
       margin-bottom:12px;
       font-weight:bold;
       font-size:16px;
     }
     
     .footer-dark ul {
       padding:0;
       list-style:none;
       line-height:1.6;
       font-size:14px;
       margin-bottom:0;
     }
     
     .footer-dark ul a {
       color:inherit;
       text-decoration:none;
       opacity:0.6;
     }
     
     .footer-dark ul a:hover {
       opacity:0.8;
     }
     
     @media (max-width:767px) {
       .footer-dark .item:not(.social) {
         text-align:center;
         padding-bottom:20px;
       }
     }
     
     .footer-dark .item.text {
       margin-bottom:36px;
     }
     
     @media (max-width:767px) {
       .footer-dark .item.text {
         margin-bottom:0;
       }
     }
     
     .footer-dark .item.text p {
       opacity:0.6;
       margin-bottom:0;
     }
     
     .footer-dark .item.social {
       text-align:center;
     }
     
     @media (max-width:991px) {
       .footer-dark .item.social {
         text-align:center;
         margin-top:20px;
       }
     }
     
     .footer-dark .item.social > a {
       font-size:20px;
       width:36px;
       height:36px;
       line-height:36px;
       display:inline-block;
       text-align:center;
       border-radius:50%;
       box-shadow:0 0 0 1px rgba(255,255,255,0.4);
       margin:0 8px;
       color:#fff;
       opacity:0.75;
     }
     
     .footer-dark .item.social > a:hover {
       opacity:0.9;
     }
     
     .footer-dark .copyright {
       text-align:center;
       padding-top:24px;
       opacity:0.3;
       font-size:13px;
       margin-bottom:0;
     }
     
     .col a:hover{
      background-color: orange;
     }